#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.wrapper {
  /*width: 100%;*/
  /*min-width: 2em; !* Will be AT LEAST 20em wide *!*/
  /*min-height: 400px;*/
}


.todos-table-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  gap: 1rem;
}

.filter-textfield-label {
  display: flex;
  flex-direction: column;
}

.filter-box-input {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
